@import url(./normalize.css);
:root {
  --background: #000000;
  --background-white: #ffffff;

  --background-card: #fdffbe38;
  --foreground-about: #1f1f1f;

  --background-review: #121212;

  --background-btn: #f85114;
  --background-btn-hover: #ff1010dc;

  --title-black-color: #7c62ff;
  --title-white-color: #6445ff;

  --fz-title-desktop: 3rem;
  --fz-sectionTitle-desktop: 2rem;
  --fz-text-desktop: 1.8rem;

  --fz-title-mobile: 2.5rem;
  --fz-sectionTitle-mobile: 2rem;
  --fz-text-mobile: 1.6rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f9f1;
    --foreground: #1f1f1f;

    --background-about: #f7f9f1;
    --foreground-about: #1f1f1f;
  }
} */

html,
body {
  max-width: 100vw;
  height: 100%;

  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 100%;
  max-width: 140rem;
  margin: 0px auto;
  padding: 5rem 4rem 1rem 4rem;
}

.title-container {
  display: flex;
  justify-content: center;
  font-size: var(--fz-title-desktop);
  font-weight: bold;
  text-transform: uppercase;

  margin: 0 auto;
  margin-bottom: 3rem;
}

.title-black-container {
  display: flex;
  justify-content: center;

  text-align: center;
  font-size: var(--fz-title-desktop);
  font-weight: bold;
  text-transform: uppercase;

  margin: 0 auto;
  margin-bottom: 3rem;
}

.gradient-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  line-height: normal;
  padding: 0.5rem 2.5rem;
  border-radius: 3rem;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

/* Загальний стиль для скролбару */
::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скролбару */
  height: 12px; /* Висота горизонтального скролбару */
}

/* Стиль фону скролбару */
::-webkit-scrollbar-track {
  background: #515151; /* Колір фону скролбару */
  border-radius: 10px; /* Закруглені краї */
}

/* Стиль повзунка (scroll thumb) */
::-webkit-scrollbar-thumb {
  background: #232323; /* Колір повзунка */
  border-radius: 10px; /* Закруглені краї */
}

/* Стиль повзунка при наведенні курсору */
::-webkit-scrollbar-thumb:hover {
  background: #0e0e0e; /* Темніший колір при наведенні */
}

@media (max-width: 1024px) {
  .container {
    max-width: 95rem;
    padding: 1.5rem 3rem;
  }
  .title-container,
  .title-black-container {
    display: flex;
    justify-content: center;
    font-size: var(--fz-title-mobile);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }
  .title-container,
  .title-black-container {
    display: flex;
    justify-content: center;
    font-size: var(--fz-title-mobile);
  }
}

@media (max-width: 480px) {
  .container {
    padding: 2rem 1rem;
  }
}
