@import url(./normalize.css);
:root {
  --background: #f7f9f1;
  --foreground: #1f1f1f;

  --background-about: #f7f9f1;
  --foreground-about: #1f1f1f;

  --background-btn: #f5b027;
  --background-btn-hover: #f57627;

  --fz-text-desktop: 1.8rem;
  --fz-sectionTitle-desktop: 2.5rem;
  --fz-sectionSubTitle-desktop: 2rem;

  --fz-text-mobile: 1.6rem;
  --fz-sectionTitle-mobile: 2.5rem;
  --fz-sectionSubTitle-mobile: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f9f1;
    --foreground: #1f1f1f;

    --background-about: #f7f9f1;
    --foreground-about: #1f1f1f;
  }
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: visible;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 2rem 4rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 1.5rem 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem 1rem;
  }
}
