@import url(./normalize.css);
:root {
  --background: #000000;
  --background-white: #ffffff;

  --background-card: #2b2c3138;
  --foreground-about: #1f1f1f;

  --background-review: #181816;

  --background-btn: #00e651;
  --background-btn-hover: #37a83d;

  --fz-text-desktop: 1.8rem;
  --fz-sectionTitle-desktop: 2.5rem;
  --fz-sectionSubTitle-desktop: 2rem;

  --fz-text-mobile: 1.6rem;
  --fz-sectionTitle-mobile: 2.5rem;
  --fz-sectionSubTitle-mobile: 2rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f9f1;
    --foreground: #1f1f1f;

    --background-about: #f7f9f1;
    --foreground-about: #1f1f1f;
  }
} */

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 2rem 4rem;
}

.title-container {
  display: flex;
  justify-content: start;
}

.title-bdr-container {
  position: relative;
  border-radius: 3rem;
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3rem;
    padding: 1px;
    -webkit-mask-composite: xor !important;
    mask-composite: exclude !important;
    z-index: -1;
    pointer-events: none;
  }
}
.gradient-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
  line-height: normal;
  padding: 0.2rem 2.5rem;
  border-radius: 3rem;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1024px) {
  .container {
    padding: 1.5rem 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 2rem 1rem;
  }
}
