@import url(./normalize.css);
:root {
  --background: #f7f9f1;
  --foreground: #1f1f1f;

  --background-about: #f7f9f1;
  --foreground-about: #1f1f1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f9f1;
    --foreground: #1f1f1f;

    --background-about: #f7f9f1;
    --foreground-about: #1f1f1f;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 10px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 2rem 4rem;
}
