.header {
  position: relative;
  margin-top: 3rem;
  z-index: 5;

  &__burger {
    display: none; // Приховано за замовчуванням
  }
}

.header__container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  font-size: 2rem;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  gap: 6.5rem;
}

.navigation__item {
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.logo {
  z-index: 1001; // Щоб лого було над мобільним меню
}
/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .header {
    &__burger {
      display: flex;
      justify-content: flex-end;
      // Показуємо бургер
    }

    &__navigation,
    &__contacts {
      display: none; // Приховуємо десктопну навігацію та контакти
    }
  }
  .header__container {
    flex-direction: column; /* Перехід на стовпчик */
    font-size: 1.8rem; /* Зменшення розміру шрифтів */
  }

  .navigation__list {
    flex-direction: column; /* Елементи навігації в стовпчик */
    gap: 3rem;
    align-items: center;
  }

  .contacts__info {
    gap: 2rem;
    align-items: center;
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .header__container {
    padding: 0.5rem;
    font-size: 1.6rem;
  }

  .navigation__list {
    gap: 2rem;
  }

  .contacts__info {
    gap: 1.5rem;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .header__container {
    padding: 0.5rem;
    font-size: 1.4rem;
  }

  .navigation__list {
    gap: 1.5rem;
  }

  .contacts__info {
    gap: 1rem;
  }
}
