.header {
  color: rgba(252, 252, 252, 0.69);
  font-weight: 500;
  padding-top: 3rem;
  z-index: 5;
  position: relative;
  &__burger {
    display: none; // Приховано за замовчуванням
  }
}

.header__container {
  display: flex;
  flex-direction: row;

  font-size: 1.6rem;
  justify-content: space-between;
}

.navigation {
  width: 80%;
  display: flex;
  flex-direction: row;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 5vw;
    backdrop-filter: blur(1rem);
    border-radius: 3rem;
    padding: 1rem 3rem;
    border-bottom: 1px solid #292929;
  }

  &__item {
    border: 1px solid #232323;
    border-radius: 4rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;

    &:hover {
      background: #23232390;
      color: rgb(243, 243, 243);
    }
    &:active {
      background: #23232390;
      color: rgb(243, 243, 243);
    }
    &:focus {
      background: #23232390;
      color: rgb(243, 243, 243);
    }
  }
}

.contacts__info {
}

.logo {
  z-index: 1001; // Щоб лого було над мобільним меню
}
/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .header {
    &__burger {
      // Показуємо бурге
      display: flex;
      justify-content: flex-end;
    }

    &__navigation,
    &__contacts {
      display: none; // Приховуємо десктопну навігацію та контакти
    }
  }
  .header__container {
    flex-direction: row; /* Перехід на стовпчик */
    font-size: 1.8rem; /* Зменшення розміру шрифтів */
  }
  .navigation {
    justify-content: flex-end;
  }

  .navigation__list {
    flex-direction: column; /* Елементи навігації в стовпчик */
    gap: 3rem;
    align-items: center;
  }

  .contacts__info {
    gap: 2rem;
    align-items: center;
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .header__container {
    flex-direction: row;
    padding: 0.5rem;
    font-size: 1.6rem;
  }

  .navigation__list {
    gap: 2rem;
  }

  .contacts__info {
    gap: 1.5rem;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .header__container {
    padding: 0.5rem;
    font-size: 1.4rem;
  }

  .navigation__list {
    gap: 1.5rem;
  }

  .contacts__info {
    gap: 1rem;
  }
}
