.about {
  position: relative;
  width: 100%;
  margin-top: 20rem;
  padding: 8rem 0;
  z-index: 2;
  overflow: hidden;
  background: #000000;

  &__title {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: bold;
    margin-left: 2rem;
    color: rgb(255, 253, 253);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 20rem;
    gap: 2rem;
    color: rgb(255, 255, 255);
  }

  &__item {
    width: 45%;
    padding: 1rem;
    font-size: 2rem;
    background: hsla(0, 0%, 4%, 1);
    border: 1px solid #404040;
    border-radius: 1.5rem;
  }
}

.item__container {
  position: relative;
  display: flex;
  gap: 2rem;
  color: #f9f9f9b5;
  font-size: 1.7rem;
}
.item__title {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #fefefe;
  font-size: 2.5rem;

  border-radius: 1.5rem;
  padding: 1rem;
}

.light {
  position: absolute;
  top: 50%; /* Центруємо світло по вертикалі */
  left: 50%; /* Центруємо світло по горизонталі */
  width: 400px; /* Ширина світла */
  height: 400px; /* Висота світла */
  background: radial-gradient(
    circle,
    #ffffffcc 0%,
    rgba(255, 255, 255, 0.303) 70%
  ); /* Світло з центром */
  border-radius: 50%; /* Округлені краї для ефекту світла */
  transform: translate(-50%, -50%); /* Центруємо елемент */
  pointer-events: none; /* Не впливає на взаємодію з іншими елементами */
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.732); /* Розсіяний ефект світла */
  animation: pulse 6s infinite; /* Додаємо анімацію для ефекту пульсації */
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.4;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.4;
  }
}
