.about {
  position: relative;
  width: 100%;

  z-index: 2;
  background: #ffffff;

  &__title {
    display: inline-block;
    box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(217, 218, 216, 0.551);
    color: var(--title-white-color);
    border-radius: 1rem;
    text-align: center;
    padding: 0 5rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    padding: 3rem 10rem;

    gap: 2rem;
    color: rgb(73, 73, 73);
  }

  &__item {
    width: 48%;
    padding: 1rem;
    font-size: 2rem;

    border-radius: 1.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem rgba(217, 218, 216, 0.551);
  }
}

.item__container {
  display: flex;
  gap: 2rem;
  color: #232323cc;
  font-size: 1.7rem;
  padding: 1rem;
}
.item__title {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #1b1b1b;
  font-size: 2.5rem;

  border-radius: 1.5rem;
}

.text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .about {
    margin-top: 10rem;
    padding: 6rem 0;
  }

  .about__list {
    padding: 3rem 10rem;
    gap: 1.5rem;
  }

  .about__item {
    width: 100%; /* Займає всю ширину */
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .about {
    margin-top: 3rem;
    padding: 4rem 0;
  }

  .about__list {
    padding: 2rem 2rem;
    gap: 1rem;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .about {
    margin-top: 3rem;
    padding: 3rem 0;
  }

  .about__list {
    padding: 1rem;
  }
}
