.about {
  position: relative;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  z-index: 2;
  background: #fffff3;

  &__title {
    color: #2c29dc;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 20rem;
    gap: 2rem;
    color: rgb(73, 73, 73);
  }

  &__item {
    width: 45%;
    padding: 1rem;
    font-size: 2rem;
    background: var(--background-card);
    border: 1px solid #abab8e73;
    border-radius: 1.5rem;
    box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(171, 180, 149, 0.551);
  }
}

.item__container {
  display: flex;
  gap: 2rem;
  color: #232323cc;
  font-size: 1.7rem;
  padding: 1rem;
}
.item__title {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #1b1b1b;
  font-size: 2.5rem;

  border-radius: 1.5rem;
}

/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .about {
    margin-top: 10rem;
    padding: 6rem 0;
  }

  .about__title {
    font-size: 4rem;
    margin-left: 1rem;
  }

  .about__list {
    padding: 3rem 10rem;
    gap: 1.5rem;
  }

  .about__item {
    width: 100%; /* Займає всю ширину */
  }

  .light {
    width: 50vw; /* Більше світло на маленьких екранах */
    height: 50vw;
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .about {
    margin-top: 8rem;
    padding: 4rem 0;
  }

  .about__title {
    font-size: 3.5rem;
    margin-left: 0.5rem;
  }

  .about__list {
    padding: 2rem 2rem;
    gap: 1rem;
  }

  .light {
    width: 50vw; /* Більше світло на маленьких екранах */
    height: 50vw;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .about {
    margin-top: 5rem;
    padding: 3rem 0;
  }

  .about__title {
    font-size: 2.5rem;
    margin-left: 0.5rem;
  }

  .about__list {
    padding: 1rem;
  }

  .light {
    width: 150px;
    height: 150px;
  }
}

/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .about {
    margin-top: 10rem;
    padding: 6rem 0;
  }

  .about__title {
    font-size: 4rem;
    margin-left: 1rem;
  }

  .about__list {
    padding: 3rem 10rem;
    gap: 1.5rem;
  }

  .about__item {
    width: 100%;
  }

  .light {
    width: 50vw; /* Більше світло на маленьких екранах */
    height: 50vw;
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .about {
    margin-top: 8rem;
    padding: 4rem 0;
  }

  .about__title {
    font-size: 3.5rem;
    margin-left: 0.5rem;
  }

  .about__list {
    padding: 2rem 2rem;
    gap: 1rem;
  }

  .light {
    width: 70vw; /* Більше світло на маленьких екранах */
    height: 70vw;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .about {
    margin-top: 5rem;
    padding: 3rem 0;
  }

  .about__title {
    font-size: 2.5rem;
    margin-left: 0.5rem;
  }

  .about__list {
    padding: 1rem;
    gap: 1.5rem;
  }

  .light {
    width: 90vw; /* Більше світло на маленьких екранах */
    height: 90vw;
  }
}
