.advantages {
  position: relative;
  z-index: 2;
  width: 40%;

  &__items {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: var(--fz-text-desktop);
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    border-radius: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__icon {
    margin-top: 0.5rem;
    width: 5rem;
    height: 5rem;
    background: #191919;
    box-shadow: 0.5rem 0.5rem 0.8rem 0.2rem rgba(61, 61, 61, 0.551);
    border-radius: 1rem;
    padding: 0.5rem;
  }

  &__title {
    font-weight: bold;
    background: linear-gradient(
      to right,
      #fff82d,
      #ffffff
    ); /* Від білого до темно-сірого */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Встановлення прозорого тексту */
  }

  &__text {
    color: #d3d3d3;
  }
}

.advantages__title__container {
  display: flex;
  gap: 3rem;
}

.advantages__text__container {
  display: flex;
  flex-direction: column;
}
