.advantages {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 15rem;
  background-image: url("/img/bg-section.jpg");
  background-size: cover;
  box-shadow: 0rem 4rem 3rem 4rem rgba(0, 0, 0, 0.75) inset;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.3rem);
  }

  &__items {
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    font-size: var(--fz-text-desktop);
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    border-bottom: 2px solid #2e2e2e;
    border-radius: 0.5rem;
    padding-bottom: 0.5rem;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 1rem;
      left: -9rem;

      width: 5rem;
      height: 5rem;
      padding: 0.5rem;
      border-radius: 1rem;

      background: #191919;
      box-shadow: 0.2rem 0.5rem 0.8rem 0.2rem rgba(33, 33, 33, 0.551);
      background-image: url("/icons/ok.svg");
      background-size: 5rem;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__title {
    font-weight: bold;
    color: #bbc1ff;
  }

  &__text {
    color: #d3d3d3;
  }
}
