.aplication {
  position: relative;
  background: var(--background);
  height: 100%;

  border-bottom: 1px solid #373737;

  &__title {
    display: inline-block;
    color: var(--title-black-color);
    border-radius: 1rem;
    box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(19, 19, 19, 0.551);
    padding: 0 5rem;
    margin-bottom: 3rem;
  }

  &__subtitle {
    font-size: var(--fz-sectionTitle-desktop);
    padding: 1rem;
    background: #48484851;
    padding: 3rem;
  }
}

.form__container {
  background: #181816;
  color: #ffffff;
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 3rem;
  padding-bottom: 5rem;

  &__title {
    font-size: var(--fz-sectionTitle-desktop);
    padding: 1rem;
    font-weight: bold;
    border-bottom: solid 1px #ffffff7e;
  }
  &__input {
    display: flex;
    flex-direction: column;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: var(--fz-text-desktop);

    input {
      margin: 1rem;
      padding: 0.5rem;
      width: 100%;
      border-radius: 0.5rem;
      background: #242423;

      &:focus {
        outline: none; /* Прибирає білу рамку */

        box-shadow: none; /* Вимикає тінь */
      }
    }
  }

  &__button {
    width: 20%;
    border: 1px solid #ffffff7e;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: var(--fz-text-desktop);
    cursor: pointer;
  }
}

.input {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #9b9b9b00;
  font-size: var(--fz-text-desktop);

  input {
    display: none;
  }

  &:hover {
    border: 1px solid #5756567e;
  }
}
.input__check {
  background: #2e2e2d;
  border: 1px solid #292519;
  font-size: var(--fz-text-desktop);
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;

  input {
    display: none;
  }
}
.input__error {
  border: 1px solid red;
  background-color: #ffe6e6;
}

/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .aplication__title {
    font-size: 3rem;
  }

  .form__container {
    width: 80%;
    padding: 2rem;
  }

  .form__input input {
    width: 80%;
  }

  .form__button {
    width: 30%;
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .aplication {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .aplication__title {
    font-size: 2.5rem;
  }

  .form__container {
    width: 90%;
    padding: 1.5rem;
  }

  .form__input input {
    width: 100%;
  }

  .form__button {
    width: 50%;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .aplication__title {
    padding: 0 1rem;
  }

  .form__container {
    width: 100%;
    padding: 1rem;
  }

  .form__input {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
  }

  .input {
    display: flex;
    align-items: flex-end;

    width: 100%;
    border-bottom: 1px solid #222222;
  }
  .input__check {
    display: flex;
    align-items: flex-end;

    width: 100%;
    background: #1f1f1f;
    border: 1px solid #2a2a2a;
  }
  .form__input input {
    width: 100%;
  }

  .form__button {
    width: 70%;
  }
}
