.burger__wrapper {
  position: relative;
  z-index: 10;
}

.burger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;

  &__line {
    width: 100%;
    height: 2px;
    background: #6c6c6c;
    transition: all 0.3s ease;
  }

  &__active {
    .burger__line {
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  padding: 2rem;
  transform: translateX(100%); /* Ховає меню за межі екрана */
  transition: all 0.3s ease;
  visibility: hidden; /* Вимикає видимість */
  pointer-events: none; /* Вимикає будь-яку взаємодію */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__active {
    right: 0;
    opacity: 1; /* Повертає видимість */
    transform: translateX(0); /* Повертає меню на екран */
    visibility: visible; /* Включає видимість */
    pointer-events: auto; /* Дозволяє взаємодію */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #171717;
  }

  z-index: 1;
}

.navigation {
  margin-bottom: 2rem;
  width: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  &__link {
    font-size: 2rem;
    text-decoration: none;
    color: #aeaeae;
    font-weight: bold;
    transition: color 0.2s;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid #3e3e3e;
    background: #141414;

    &:hover {
      color: #666;
      border: 1px solid #858585;
      background: #0b0b0b;
    }
    &:active {
      color: #666;
      background: #d6d6d6ca;
      border: 1px solid #858585;
      background: #0b0b0b;
    }
  }
}

.contacts {
  text-align: center;

  &__phone {
    font-size: 2rem;
    font-weight: 500;
  }
}
