.example {
  position: relative;
  background: #ffffff;
  height: 100%;

  &__title {
    background: linear-gradient(
      to right,
      #101010,
      #d2f700
    ); /* Від білого до темно-сірого */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    border-radius: 1.5rem;
    padding: 3rem 0;
  }

  &__card {
    position: relative;
    width: 32%;
    height: 18vw;
    border-radius: 1.5rem;
    overflow: hidden;

    z-index: 0;

    &:hover .card__img__wrapper::before {
      background: #00000000;
      backdrop-filter: blur(0);
    }

    &:hover .card__name {
      transition: all 0.2s linear;
      opacity: 0;
    }
  }
}

.card__info {
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  padding: 0px 0rem;

  background: #ffffff;
  border-radius: 1.5rem;
  z-index: 3;
}

.card__link {
  position: relative;
  display: inline-block;
  transition: all 0.2s linear;
  font-size: 1.5rem;
  padding: 1rem 0;
  a {
    padding: 1.5rem;
  }

  &:hover {
    cursor: pointer;
  }

  .svgIcon {
    width: 5rem;
    height: 5rem;
    color: rgb(29, 29, 29);
    transition: all 0.1s linear;
    transform: rotate(45deg);

    &:hover {
      transform: rotate(45deg) scale(1.2);
      color: #363085;
    }
  }
}

.card__img__wrapper {
  position: relative;
  display: flex;
  height: 100%;

  align-items: center;
  justify-content: center;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .example__title {
    font-size: 4rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .example__container {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .example__card {
    width: 48%;
    height: 20vw;
  }

  .card__info {
    font-size: 3rem;
    bottom: 2rem;
  }

  .card__link {
    font-size: 1.2rem;
    padding: 0.8rem 0;
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .example__title {
    font-size: 3rem;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  .example__container {
    gap: 1rem;
    padding: 1rem;
  }

  .example__card {
    width: 100%;
    height: 30rem;
  }

  .card__info {
    font-size: 2.5rem;
    bottom: 1.5rem;
  }

  .card__link {
    font-size: 1rem;
    padding: 0.6rem 0;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .example__title {
    font-size: 2.5rem;
    margin-left: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .example__container {
    gap: 1rem;
    padding: 0.5rem;
  }
  .example__card {
    width: 100%;
    height: 20rem;
  }
  .card__info {
    font-size: 2rem;
    bottom: 1rem;
  }

  .card__link {
    font-size: 1.5rem;
    padding: 0.7rem 0;
  }
}
