.feedback {
  position: relative;
  background: #f5f5f5;
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Щоб розташувати елементи вертикально */

  &__title {
    font-size: var(--fz-title-form-desktop);
    color: #1b1b1b;
    margin-bottom: 5rem; /* Відступ між заголовком та іншими елементами */
    text-align: center;
  }
}

/* Адаптація для середніх екранів */
@media (max-width: 1024px) {
  .feedback {
    height: 100%;
  }

  .feedback__title {
    font-size: 2.5rem; /* Зменшуємо розмір тексту */
    margin-bottom: 4rem; /* Зменшуємо відступ */
  }
}

/* Адаптація для маленьких екранів */
@media (max-width: 768px) {
  .feedback {
    height: 100%;
    /* Додаємо внутрішні відступи */
  }

  .feedback__title {
    font-size: 2rem; /* Ще менший розмір тексту */
    margin-bottom: 3rem;
    padding: 0 0.5rem; /* Зменшуємо відступ */
  }
}

/* Адаптація для дуже маленьких екранів */
@media (max-width: 480px) {
  .feedback {
    height: 100%;
  }

  .feedback__title {
    font-size: var(--fz-sectionTitle-mobile); /* Компактний розмір тексту */
    margin-bottom: 2rem; /* Зменшуємо відступ */
  }
}
