.feedback {
  position: relative;
  background: #000;
  height: 30rem;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -0px -105px 150px -140px rgba(137, 168, 249, 0.75) inset;

  &__title {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 5rem;
    text-align: center;
  }
}
