.form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;

  &__container {
    display: flex;
    width: 60%;
    height: 2rem;
    gap: 5rem;
    justify-content: space-evenly;
  }

  &__input {
    padding: 2rem;
    font-size: 1.5rem;
    width: 30%;
    color: #fff;

    border-bottom: 1px solid #525252;

    &:focus {
      outline: none; /* Прибирає білу рамку */

      box-shadow: none; /* Вимикає тінь */
    }
  }

  &__button {
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 2.5rem 1rem;
    background: #69f864b7;
    color: #fff;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    width: 25%;
    border-radius: 1.5rem;
    cursor: pointer;

    transition: background 0.1s linear;

    &:hover {
      background: #64f866;
    }
  }
}
