.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;

  &__container {
    display: flex;
    width: 60%;
    height: 5rem;
    gap: 5rem;
    justify-content: space-evenly;
  }

  &__input {
    padding: 2rem;
    font-size: 1.5rem;
    width: 30%;
    color: #fff;

    border-bottom: 1px solid #525252;

    &:focus {
      outline: none; /* Прибирає білу рамку */

      box-shadow: none; /* Вимикає тінь */
    }
  }

  &__button {
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    background: var(--background-btn);
    color: #fff;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    width: 25%;
    border-radius: 1.5rem;
    cursor: pointer;

    transition: background 0.1s linear;

    &:hover {
      background: var(--background-btn-hover);
    }
    &:active {
      background: var(--background-btn-hover);
    }
  }
}

/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .form__container {
    width: 80%;
    gap: 3rem;
    height: 100%;
  }

  .form__input {
    width: 40%;
    font-size: 1.3rem;
    padding: 1.5rem;
  }

  .form__button {
    font-size: 1.3rem;
    padding: 0.7rem 0.8rem;
    width: 30%;
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .form {
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .form__container {
    width: 90%;
    height: 100%;
    gap: 2rem;
  }

  .form__input {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
  }

  .form__button {
    width: 60%;
    font-size: 1rem;
    padding: 0.7rem 1rem;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .form__container {
    width: 80%;
    height: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }

  .form__input {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .form__button {
    margin: 0 auto;
    width: 50%;
    font-size: 1rem;
    padding: 1rem 1rem;
  }
}
