.fqa {
  position: relative;
  background: var(--background);
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
  z-index: 2;

  .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--title-black-color);
  }

  .faqList {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .faqItem {
    border-bottom: 1px solid #e5e7eb;

    .questionContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 0;
      cursor: pointer;

      .question {
        font-size: 2rem;
        font-weight: 700;
        padding-right: 2rem;
        color: #fff;
      }

      .toggleButton {
        flex-shrink: 0;
        padding: 0.5rem;
        background: #000;
        cursor: pointer;
      }
      .faq__svg {
        width: 4rem;
        height: 4rem;
        padding: 0.5rem;
        border-radius: 50%;
        transition: transform 0.3s ease, background 0.3s ease;
      }

      .faq__svg__active {
        transform: rotate(45deg);
      }

      &:hover .faq__svg {
        background: #fff;
        border-radius: 50%;
        padding: 0.5rem;
      }
    }

    .answerContainer {
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;

      .answer {
        padding-bottom: 1rem;
        font-size: 1.5rem;
        color: #ffffffd7;
      }
    }
  }
}

// Адаптивність
@media (max-width: 1024px) {
  .fqa {
    .faqList {
      width: 80%;
    }
    .questionContainer .question {
      font-size: 1.8rem;
    }
    .faq__svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

@media (max-width: 768px) {
  .faqList {
    width: 90%;
  }
  .title {
    font-size: 2rem;
  }
  .questionContainer {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;

    .question {
      font-size: 1.6rem;
      padding-right: 0;
    }
    .toggleButton {
      margin-top: 0.5rem;
    }
  }
  .answer {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .fqa {
    .faqList {
      width: 95%;
    }
  }
  .title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .questionContainer {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;

    .question {
      font-size: 1.4rem;
    }
  }
  .faq__svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .answer {
    font-size: 1.2rem;
  }
}
