.garant {
  position: relative;
  background: var(--background-review);
  background-image: url("/img/mask-3.png");
  background-position: 15%;
  background-size: contain;
  background-repeat: no-repeat;

  &__title {
    display: inline-block;
    color: var(--title-black-color);
    border-radius: 1rem;
    box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(19, 19, 19, 0.551);
    padding: 0 5rem;
  }

  &__text {
    width: 45%;
    margin: 0 auto;
    font-size: var(--fz-text-desktop);

    text-align: center;
    color: #e0e0e0;
  }
}

@media (max-width: 768px) {
  .garant {
    padding-top: 3rem;
    background-image: none;
  }
  .garant__text {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .garant__text {
    width: 100%;
  }

  .garant__title {
    padding: 0 1rem;
  }
}
