.garant {
  z-index: 2;
  position: relative;
  background: var(--background-review);
  background-image: url("/img/mask-3.png");
  background-position: 15%;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgb(55, 55, 55);
  padding-bottom: 3rem;

  &__title {
    display: inline-block;
    color: var(--title-black-color);

    border-bottom: 1px solid #4f4c567b;
    padding: 0 5rem;
  }

  &__text {
    width: 45%;
    margin: 0 auto;
    font-size: var(--fz-text-desktop);

    text-align: center;
    color: #e0e0e0;
  }
}

@media (max-width: 768px) {
  .garant {
    padding-top: 3rem;
    background-image: none;
  }
  .garant__text {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .garant__text {
    width: 100%;
    font-size: var(--fz-text-mobile);
  }

  .garant__title {
    font-size: var(--fz-title-mobile);
    padding: 0;
  }
}
