.garant {
  position: relative;
  background: var(--background-review);
  background-image: url("/img/mask-3.png");
  background-position: 15%;
  background-size: contain;
  background-repeat: no-repeat;

  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4rem;
    text-align: center;
    background: linear-gradient(
      to right,
      #fff82d,
      #ffffff
    ); /* Від білого до темно-сірого */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text {
    width: 45%;
    margin: 0 auto;
    font-size: 1.8rem;

    text-align: center;
    color: #e0e0e0;
  }
}
