.form {
  position: relative;
  width: 40%;
  height: 100%;
  border: 1px solid #313131;
  backdrop-filter: blur(0.5rem);
  border-radius: 2rem;
  padding: 2rem;

  &__title {
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: #fffde6;
  }

  &__container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
  }

  &__input {
    border: 0.1rem solid #333333;
    padding: 1rem;
    border-radius: 1rem;
    background: #0f0e0e;
    font-size: 1.4rem;
  }

  &__button {
    padding: 1rem;
    border: 0.1rem solid #55151595;
    border-radius: 1rem;
    font-size: 1.5rem;
    background: #f85114;
    color: #fffde6;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: rgba(255, 16, 16, 0.862);
    }
  }
}

.title__accent {
  font-weight: bold;
  background: linear-gradient(
    to right,
    #fff82d,
    #ffffff
  ); /* Від білого до темно-сірого */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .form {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .form {
    width: 100%;
  }
}
