.hero {
  position: relative;
  z-index: 2;
  backdrop-filter: blur(1rem);
  display: flex;
  flex-direction: column;

  gap: 7rem;
  margin: 0px auto;
  padding: 7rem 4rem 1rem 4rem;
  overflow: hidden;
  background: var(--background-hero);
  width: 100%;
  max-width: 140rem;
  height: 90vh;
  min-height: 60rem;
  max-height: 60rem;
}

.hero__title {
  width: 50%;
  display: flex;
  flex-direction: column;

  text-transform: uppercase;
  text-align: center;

  color: #fffde6;
  border-radius: 2rem;
  z-index: 3;
  font-size: 4rem;
}

.hero__text {
  display: flex;
  align-items: center;
  letter-spacing: 0.1rem;
}

.hero__subtext {
  display: inline-flex;
  align-items: end;
  font-size: var(--fz-sectionTitle-desktop);
  text-transform: none;
  margin-top: 2rem;
  padding: 1rem;
}
.video__container {
  position: absolute;
  bottom: -0.7%;
  right: 0;
  /*   transform: translateY(-50%); */
  width: 70%;
  height: auto;
}
.hero__video {
  width: 100%;
  height: auto;
}

/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .container {
    padding: 1.5rem 3rem;
  }

  .hero {
    margin-top: 4rem;
    height: auto; /* Дозволяє гнучку висоту */
  }

  .hero__title {
    width: 90%;
    padding: 0.8rem;
  }

  .hero__text {
    font-size: 4rem; /* Зменшення розміру шрифту */
  }

  .hero__subtext {
    font-size: 2.5rem;
    width: 70%;
    margin-top: 2rem;
    padding: 1.5rem;
  }

  .hero__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10rem;
    gap: 3rem;
    margin-top: 3rem;
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }

  .hero {
    margin-top: 3rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    width: 100%;
    padding: 0.6rem;
    font-size: 1.8rem; /* Зменшення шрифту для вузьких екранів */
  }

  .hero__text {
    font-size: 4rem;
  }

  .hero__subtext {
    font-size: 2rem;
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .hero__footer {
    padding: 0 5rem;
  }
}

@media (max-width: 680px) {
  .hero__footer {
    padding: 0rem;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .container {
    padding: 0.5rem 1rem;
  }

  .hero {
    margin-top: 2rem;
    height: auto;
  }

  .hero__title {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .hero__text {
    font-size: 2rem;
  }

  .hero__subtext {
    font-size: 1.6rem;
    padding: 0.8rem;
    margin-top: 1rem;
  }
}
