.hero {
  z-index: 2;
  margin-top: 5rem;
  height: 100vh;
}

.hero__title {
  position: relative;
  text-transform: uppercase;
  padding: 1rem;
  width: 80%;
  color: #000000;

  border-radius: 2rem;
  z-index: 3;
}

.hero__text {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 8rem;
}

.hero__subtext {
  position: relative;
  display: flex;
  gap: 1rem;
  font-size: 3rem;
  width: 60%;
  margin-top: 3rem;
  padding: 2rem;
  z-index: 1;
  border-bottom: 3px solid #000;
  background: #fa4343;
  color: rgb(255, 255, 255);
  border-radius: 1.5rem;
  text-transform: none;
  font-weight: bold;
}
