.hero {
  z-index: 2;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.hero__footer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 0 10rem;
  align-items: start;
  margin-top: 3rem;
}

.hero__title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  width: 70%;
  color: #fffde6;
  border-radius: 2rem;
  z-index: 3;
  margin: 0 auto;
}

.hero__text {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 3rem;
  background: linear-gradient(
    to right,
    #fff82d,
    #ffffff
  ); /* Від білого до темно-сірого */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Встановлення прозорого тексту */
}

.hero__subtext {
  display: inline-flex;
  align-items: end;
  font-size: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  backdrop-filter: blur(1rem);
  border-radius: 1.5rem;
  border-bottom: 1px solid #292929;
}

.hero__img {
  width: 15rem;
  height: auto;
}

/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .container {
    padding: 1.5rem 3rem;
  }

  .hero {
    margin-top: 4rem;
    height: auto; /* Дозволяє гнучку висоту */
  }

  .hero__title {
    width: 90%;
    padding: 0.8rem;
  }

  .hero__text {
    font-size: 6rem; /* Зменшення розміру шрифту */
  }

  .hero__subtext {
    font-size: 2.5rem;
    width: 70%;
    margin-top: 2rem;
    padding: 1.5rem;
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }

  .hero {
    margin-top: 3rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    width: 100%;
    padding: 0.6rem;
    font-size: 1.8rem; /* Зменшення шрифту для вузьких екранів */
  }

  .hero__text {
    font-size: 4rem;
  }

  .hero__subtext {
    font-size: 2rem;
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .container {
    padding: 0.5rem 1rem;
  }

  .hero {
    margin-top: 2rem;
    height: auto;
  }

  .hero__title {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .hero__text {
    font-size: 2rem;
  }

  .hero__subtext {
    font-size: 1.6rem;
    padding: 0.8rem;
    margin-top: 1rem;
  }
}
