.mockupContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; // Додаємо обгортку для двох рядів
  gap: 1rem; // Відступ між елементами
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(0.5rem);
  background: var(--background-card);
  padding: 1rem;
  border: 1px solid rgba(103, 102, 109, 0.4509803922);
  box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(171, 180, 149, 0.551);
  border-radius: 1.5rem;
  width: 48%;
  height: auto;
}

.pcScreen {
  width: 45rem;
  height: auto;
}
.mobileScreen {
  position: absolute;
  top: 0rem;
  right: 1rem;
  width: 28rem;
  height: auto;
}

.screenContent {
  object-fit: contain;
}
.mockup__link {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 5rem; /* Вся область буде клікабельною */
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  text-decoration: none; /* Важливо для зняття стилів посилання */
  z-index: 1;
}

.mockup__svg {
  width: 5rem; /* SVG займає всю область посилання */
  height: 5rem;
  color: #2c29dc;
  transition: all 0.2s linear;

  &:hover {
    color: #7270ff;
  }
  &:active {
    color: #7270ff;
  }
}
