.mockupContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; // Додаємо обгортку для двох рядів
  gap: 1rem; // Відступ між елементами
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(0.5rem);
  border-bottom: 1px solid #6439ff4a;
  padding: 1rem;

  width: 48%;
  height: auto;
}

.pcScreen {
  width: 65%;
  height: auto;
}
.mobileScreen {
  position: absolute;
  top: 0rem;
  right: 1rem;
  width: 40%;
  height: auto;
}

.screenContent {
  object-fit: contain;
}
.mockup__link {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 5rem; /* Вся область буде клікабельною */
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  text-decoration: none; /* Важливо для зняття стилів посилання */
  z-index: 1;
}

.mockup__svg {
  width: 5rem; /* SVG займає всю область посилання */
  height: 5rem;
  color: var(--title-white-color);
  transition: all 0.2s linear;

  &:hover {
    color: #474747;
  }
  &:active {
    color: #474747;
  }
}

@media (max-width: 1024px) {
  .mockup__svg {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 768px) {
  .mockupContainer {
    /* Змінюємо напрямок на колонку */
    align-items: center; /* Центруємо елементи */
    justify-content: center;
    width: 100%; /* Робимо контейнер ширшим для невеликих екранів */
    gap: 2rem; /* Збільшуємо відступ між елементами */
  }

  .pcScreen {
    position: relative; /* Прибираємо абсолютне позиціювання */
    width: 50%; /* Зменшуємо ширину зображень пропорційно */
  }
  .mobileScreen {
    position: relative; /* Прибираємо абсолютне позиціювання */
    width: 33%; /* Зменшуємо ширину зображень пропорційно */
  }

  .mockup__link {
    top: 0rem; /* Зміщуємо посилання над блоком */

    right: 1rem; /* Центруємо посилання */
  }

  .mockup__svg {
    width: 4rem; /* Зменшуємо розмір SVG */
    height: 4rem;
  }
}

@media (max-width: 480px) {
  .mockupContainer {
    width: 100%; /* Контейнер займає всю ширину */
    padding: 0.5rem; /* Менший відступ */
  }

  .pcScreen,
  .mobileScreen {
    width: 70%; /* Зображення розтягується на всю ширину */
  }

  .mockup__link {
    top: 0rem; /* Зміщуємо посилання над блоком */

    right: 1rem; /* Центруємо посилання */
  }

  .mockup__svg {
    width: 5rem; /* Зменшуємо ще більше для компактності */
    height: 5rem;
  }
}
