.problem {
  background: #000000;
  position: relative;
  color: aliceblue;
  padding-bottom: 5rem;

  &__titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    width: 80%;
    margin: 0px auto;
  }

  &__mainTitle {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
  }
  &__subTitle {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
  &__secondTitle {
    font-size: 4rem;
    text-align: center;
    padding: 0 1rem;
  }

  &__footerTitle {
    font-size: 3rem;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 5rem;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 3rem 20rem;
    gap: 2rem;
    color: rgb(255, 255, 255);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: relative;
    flex-basis: 45%;
    min-height: 100%;
    align-self: stretch;
    padding: 1rem;
    font-size: 2rem;
    background: rgba(50, 50, 50, 0.375);
    border: 1px solid #404040;
    border-radius: 1rem;
  }

  &__svg {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
  }
}

.item__title {
  display: inline-block;

  border-bottom: 1px solid #4f4c567b;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.item__text {
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 3rem;

  border-radius: 1.5rem;
}

.mainTitle__accent {
  background: #7a5ee7;
  padding: 0 1rem;
  border-radius: 1rem;
}
