.problem {
  position: relative;
  color: aliceblue;

  border-bottom: 1px solid #373737;

  &__titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;

    width: 100%;
    margin: 0px auto;
  }

  &__mainTitle {
    display: inline-block;
    color: var(--title-black-color);
    border-radius: 1rem;
    box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(19, 19, 19, 0.551);
    padding: 0 5rem;
  }

  &__subTitle {
    width: 65%;

    font-size: var(--fz-sectionTitle-desktop);
    text-align: center;
  }
  &__secondTitle {
    font-size: var(--fz-sectionTitle-desktop);
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 3rem;
  }

  &__footerTitle {
    width: 60%;
    font-size: var(--fz-sectionTitle-desktop);
    text-align: center;
    padding: 0 1rem;
    margin: 5rem auto;
  }
  &__footerFormTitle {
    width: 60%;
    font-size: var(--fz-title-form-desktop);
    text-align: center;
    padding: 0 1rem;
    margin: 0 auto 5rem auto;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 3rem 10rem;
    width: 100%;
    /*   padding: 3rem 12vw; */
    gap: 2rem;
    color: rgb(255, 255, 255);
    /* Властивості для картинки */

    /*    background-image: url("/img/mask-1.png");
    background-repeat: no-repeat; 
    background-position: center calc(50% + 1.2rem); 
    background-size: 18vw auto;  */
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: relative;
    flex-basis: 48%;
    min-height: 100%;
    align-self: stretch;
    padding: 2rem;
    font-size: 2rem;
    backdrop-filter: blur(0.8rem);
    background-color: #20202066;
    border: 1px solid #40404000;
    border-radius: 1rem;
  }

  &__svg {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    @media (max-width: 1320px) {
      width: 5rem;
      height: 5rem;
    }

    @media (max-width: 1024px) {
      width: 5rem;
      height: 5rem;
    }

    @media (max-width: 768px) {
      width: 4rem;
      height: 4rem;
    }

    @media (max-width: 480px) {
      width: 3rem;
      height: 3rem;
      top: 0.5rem;
      left: 0.2rem;
    }
  }
}

.title__container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.item__title {
  display: inline-block;
  font-size: var(--fz-text-desktop);
  border-bottom: 1px solid #4f4c567b;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.item__text {
  font-size: var(--fz-text-desktop);
  line-height: 3rem;
  color: #cccccc;
  border-radius: 1.5rem;
}

.mainTitle__accent {
  background: #7a5ee7;
  padding: 0 1rem;
  border-radius: 1rem;
}

/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .problem {
    padding-top: 3rem;
  }
  .problem__secondTitle {
    font-size: 3rem;
  }

  .problem__subTitle,
  .problem__footerTitle,
  .problem__footerFormTitle {
    font-size: 1.8rem;
  }

  .problem__titleContainer {
    width: 90%;
    gap: 3rem;
  }

  .problem__items {
    padding: 2rem 10rem;
    gap: 1.5rem;
    background-image: url("");
  }

  .problem__item {
    flex-basis: 100%;
    font-size: 1.8rem;
    padding: 0.8rem;
  }

  .item__text {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .problem__secondTitle {
    font-size: 2.5rem;
  }

  .problem__subTitle,
  .problem__footerTitle,
  .problem__footerFormTitle {
    font-size: 1.5rem;
  }

  .problem__titleContainer {
    gap: 2rem;
  }

  .problem__items {
    padding: 2rem 3rem;
    gap: 1.5rem;
  }

  .problem__item {
    font-size: 1.5rem;
    padding: 0.6rem;
  }

  .item__text {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .problem__secondTitle {
    font-size: var(--fz-sectionTitle-mobile);
  }

  .problem__mainTitle {
    font-size: var(--fz-title-mobile);
    padding: 0;
  }

  .item__title {
    width: 80%;
  }

  .problem__subTitle {
    font-size: var(--fz-text-mobile);
    width: 100%;
    margin: 3rem 0;
  }

  .problem__footerTitle,
  .problem__footerFormTitle {
    width: 100%;
    font-size: var(--fz-sectionTitle-mobile);
    margin: 3rem 0;
  }
  .problem__footerTitle {
    width: 100%;
  }

  .problem__items {
    padding: 1rem 2rem;
    gap: 3rem;
  }

  .problem__item {
    font-size: var(--fz-text-mobile);
    padding: 0.5rem;
  }

  .item__text {
    font-size: var(--fz-text-mobile);
    line-height: 2.5rem;
  }
}

@media (max-width: 376px) {
  .problem__item {
    font-size: var(--fz-text-mobile);
  }

  .item__title {
    width: 80%;
  }
}
