.problem {
  background: #000000;
  position: relative;
  color: aliceblue;
  padding-bottom: 5rem;

  &__titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    width: 80%;
    margin: 0px auto;
  }

  &__mainTitle {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
  }
  &__subTitle {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
  &__secondTitle {
    font-size: 4rem;
    text-align: center;
    padding: 0 1rem;
  }

  &__footerTitle {
    width: 60%;
    font-size: 3rem;
    text-align: center;
    padding: 0 1rem;
    margin: 5rem auto;
  }
  &__footerFormTitle {
    font-size: 3rem;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 5rem;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 3rem 5vw;
    gap: 1rem;
    color: rgb(255, 255, 255);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: relative;
    flex-basis: 45%;
    min-height: 100%;
    align-self: stretch;
    padding: 1rem;
    font-size: 2rem;
    background: rgba(50, 50, 50, 0.375);
    border: 1px solid #404040;
    border-radius: 1rem;
  }

  &__svg {
    position: absolute;
    top: 0.5rem;
    left: 1rem;

    @media (max-width: 1024px) {
      width: 5rem;
      height: 5rem;
    }

    @media (max-width: 768px) {
      width: 4rem;
      height: 4rem;
    }

    @media (max-width: 480px) {
      width: 3rem;
      height: 3rem;
    }
  }
}

.item__title {
  display: inline-block;

  border-bottom: 1px solid #4f4c567b;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.item__text {
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 3rem;

  border-radius: 1.5rem;
}

.mainTitle__accent {
  background: #7a5ee7;
  padding: 0 1rem;
  border-radius: 1rem;
}

/* Для планшетів (екрани до 1024px) */
@media (max-width: 1024px) {
  .problem__mainTitle,
  .problem__secondTitle {
    font-size: 3rem;
  }

  .problem__subTitle,
  .problem__footerTitle,
  .problem__footerFormTitle {
    font-size: 1.8rem;
  }

  .problem__titleContainer {
    width: 90%;
    gap: 3rem;
  }

  .problem__items {
    padding: 2rem 10rem;
    gap: 1.5rem;
  }

  .problem__item {
    flex-basis: 100%;
    font-size: 1.8rem;
    padding: 0.8rem;
  }

  .item__text {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
}

/* Для мобільних пристроїв (екрани до 768px) */
@media (max-width: 768px) {
  .problem__mainTitle,
  .problem__secondTitle {
    font-size: 2.5rem;
  }

  .problem__subTitle,
  .problem__footerTitle,
  .problem__footerFormTitle {
    font-size: 1.5rem;
  }

  .problem__titleContainer {
    gap: 2rem;
  }

  .problem__items {
    padding: 2rem 3rem;
    gap: 1.5rem;
  }

  .problem__item {
    font-size: 1.5rem;
    padding: 0.6rem;
  }

  .item__text {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

/* Для дуже маленьких екранів (екрани до 480px) */
@media (max-width: 480px) {
  .problem__mainTitle,
  .problem__secondTitle {
    font-size: 2rem;
  }

  .problem__subTitle,
  .problem__footerTitle,
  .problem__footerFormTitle {
    font-size: 1.8rem;
    margin: 2rem 0;
  }
  .problem__footerTitle {
    width: 100%;
  }

  .problem__items {
    padding: 1rem 2rem;
    gap: 1.5rem;
  }

  .problem__item {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .item__text {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 376px) {
  .problem__item {
    font-size: 1.8rem;
  }
}
