.slider {
  position: relative;
  width: 100%;
  padding: 4rem 0;
  background: #161515;

  &__title {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__subtitle {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 5rem;
    text-align: center;
  }
  &__button_next,
  &__button_prev {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 1.5rem;
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }

  &__button_next {
    right: 5rem; // Стандартний відступ для великих екранів

    @media (max-width: 1024px) {
      right: 3rem; // Відступ для середніх екранів
    }

    @media (max-width: 768px) {
      right: 2rem; // Відступ для маленьких екранів
    }

    @media (max-width: 480px) {
      right: -0.5rem; // Відступ для маленьких екранів
    }
  }

  &__button_prev {
    left: 5rem; // Стандартний відступ для великих екранів

    @media (max-width: 1024px) {
      left: 3rem; // Відступ для середніх екранів
    }

    @media (max-width: 768px) {
      left: 2rem; // Відступ для маленьких екранів
    }
    @media (max-width: 480px) {
      left: -0.5rem;
    }
  }
}

.swiperContainer {
  width: 80%;
  margin: 0 auto;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.slide.swiper-slide-active img {
  transform: scale(1.1); /* Ефект для центрального слайду */
}

@media (max-width: 480px) {
  .slider__title {
    font-size: 2.5rem;
  }
}
