.team {
  position: relative;
  background: #ffffff;
  z-index: 2;

  &__title {
    display: inline-block;
    box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(217, 218, 216, 0.551);
    color: var(--title-white-color);
    border-radius: 1rem;
    text-align: center;
    padding: 0 5rem;
    margin-bottom: 5rem;
  }

  &__subtext {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    font-size: 2rem;
    width: 50%;
    margin: 0rem auto 2rem;
    color: #3b3b3b;
  }
}

.items {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.item {
  padding: 1rem;
  width: 25%;
  border-radius: 1rem;

  overflow: hidden;

  &__name {
    font-size: 2rem;
    font-weight: bold;
  }

  &__position {
    font-size: 1.5rem;
    color: #5b5b5b;
  }
}

@media (max-width: 1024px) {
  .team__subtext {
    width: 70%;
  }

  .items {
    gap: 3rem;
  }

  .item {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .team__subtext {
    width: 90%;
  }

  .items {
    flex-direction: column;

    align-items: center;
    gap: 2rem;
  }

  .item {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .team__title {
    padding: 0;
    font-size: var(--fz-title-mobile);
  }
  .team__subtext {
    font-size: var(--fz-text-mobile);
    width: 100%;
  }

  .item {
    width: 100%;
    padding: 0.5rem;
  }

  .item__position {
    font-size: 1.2rem;
  }
}
